@font-face {
    font-family: terminal;
    src: url('terminal.ttf'),
    url('terminal.eot');
}

html {
    background-color: #2C2A2A;
    color: white;
    font-family: 'terminal';
    overflow: hidden;
}

.main1 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 700%
}

.main2 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, +400%);
    font-size: 200%
}

@keyframes blink {
  50% {
    opacity: 0.0;
  }
}
@-webkit-keyframes blink {
  50% {
    opacity: 0.0;
  }
}
.blink {
  animation: blink 1s step-start 0s infinite;
  -webkit-animation: blink 1s step-start 0s infinite;
}

.link {
    text-decoration: none;
    color: #ffff00;
}

.nav {
    text-decoration:none;
    color: #ffffff;
}

.aboutDiv {
    font-family: 'terminal';
    font-size: 30px;
    text-align: left;
}

.projectsDiv {
    font-family: 'terminal';
    font-size: 30px;
    text-align: left;
}